@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<ModelEF.Model.Category>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}

@section header{
    <i class="fa fa-user"></i>&nbsp; Quản lý loại sản phẩm
}

@using (Html.BeginForm("Index", "Category", FormMethod.Post))
{
    <div class="col-lg-12 form-group">
        <div class="col-md-6">
            @Html.ActionLink("Thêm Mới", "Create", "Category", null, new { @class = "btn btn-primary" })
        </div>
        <div class="col-md-4">
            <input type="text" value="@ViewBag.SearchString" name="searchString" placeholder="Nhập từ khóa tìm kiếm" class="form-control" />
        </div>
        <div class="col-md-2">
            <input type="submit" value="Tìm kiếm" class="btn btn-info" />
        </div>
    </div>
}
<div class="col-lg-12 form-group">
    <table class="table">
        <tr>
            <th>
               STT
            </th>
            <th>
                Mã Loại Sản Phẩm
            </th>
            <th>
                Tên Loại Sản Phẩm
            </th>
            <th>
               Mô tả
            </th>
            <th>
                Thao Tác
            </th>
        </tr>
        @{var i = 1; }
        @foreach (var item in Model)
        {
    <tr id="row_@item.CategoryID">
        <td>@i</td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            <a href="~/Admin/Category/Edit/@item.CategoryID"><i class="fa fa-refresh"></i></a>
            &nbsp;
            
            @Ajax.ActionLink(" ", "/Delete", new { @id = item.CategoryID }, new AjaxOptions
                           {
                               Confirm = "Bạn có muốn xóa bản ghi này không?",
                               OnComplete = "$('#row_" + item.CategoryID + "').remove()",
                               HttpMethod = "Delete"
                           }, new { @class = "glyphicon glyphicon-trash" })

        </td>
    </tr>
            i++;
        }

    </table>
    <div style="text-align:center">
        @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString }));
    </div>
</div>
